.square {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px black solid;
    min-width: 120px;
    max-width: max-content;
    min-height: 100px;
    max-height: max-content;
    padding: 10px;
    margin: 5px;
    background-color: white;
    text-align: center;
}

.round {
    display: grid;
    border: 1px black solid;
    min-width: 120px;
    max-width: max-content;
    min-height: 120px;
    max-height: max-content;
    padding: 10px;
    margin: 5px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
}

.table-details {
    padding-top: 15px;
    margin: 0;
}

.guest-details {
    margin: 0;
}

#table1 {
   color: red;
}

