.App {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    background-color: palegreen;
}

body {
    height: 100vh;
}

body::-webkit-scrollbar {
    /* display: none; */
}